
.h_2{color: #111;
     font-family: ‘Helvetica Neue’;
     sans-serif; font-size: 32px;
     font-weight: bold; letter-spacing: -1px;
     line-height: 1;
     text-align: center;
     }
.p{
     color: black;
     font-family: ‘Helvetica Neue’,
     sans-serif; font-size: 14px;
     line-height: 24px;
     margin: 0 0 24px;
     text-align: center;
     text-justify: inter-word;
     }
.background_1{
     background-color: #78DBE2
     }
